##Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('breast_cancer.csv')

In [3]:
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [13]:
X = data.drop('Class',axis=1)
Y = data['Class']

In [14]:
X.head()

   Sample code number  Clump Thickness  ...  Normal Nucleoli  Mitoses
0             1000025                5  ...                1        1
1             1002945                5  ...                2        1
2             1015425                3  ...                1        1
3             1016277                6  ...                7        1
4             1017023                4  ...                1        1

[5 rows x 10 columns]

In [15]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [19]:
X = X.drop('Sample code number',axis=1)

##Splitting the dataset

In [20]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [22]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=0)

##Training the data

In [23]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

##Making Predictions

In [24]:
Y_pred = model.predict(X_test)

##Making the confusion matrix

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(Y_test,Y_pred)
print(cm)

[[84  3]
 [ 3 47]]

In [27]:
accuracy_score(Y_test,Y_pred)

0.9562043795620438

##Verifying with K fold cross validations

In [28]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=model,X=X_train,y=Y_train,cv=10)
print("accuracy: {:.2f}%".format(accuracies.mean()*100))
print("standard deviation: {:.2f}".format(accuracies.std()*100))

accuracy: 96.70%
standard deviation: 1.97